*{transition:all 0.3s ease-in-out;}

.flexs{
  display: flex;
  flex-direction: row;
  height: 85px;
  padding-top: 0;
}



  button {
    cursor: pointer;
    outline: none;
    padding: auto;
  }
      .outline {
          position: relative;
          background: transparent;
          color: #ED560B;
          font-size: 20px;
          border-color: #ED560B;
          border-style: solid;
          border-width: 1px;
          border-radius: 20px;
          padding: 1px 8px;
          transition: all 0.2s linear;}
          a {
              text-decoration: none;
          }
      
      .outline:hover {
          color: white;
          background: #ED560B;
          border-color: #ED560B;
          transition: all 0.2s linear;
      }
      .outline:active {
          border-radius: 20px;
      }
      .signup{
        position: relative;
          z-index: 2;
          background: #ED560B;
          color: white;
          font-size: 20px;
          border-color: #ED560B;
          border-style: solid;
          border-width: 1px;
          border-radius: 20px;
          padding: 1px 8px;
      }
    
.list{
  display: flex;
  flex-direction: row;
}
.list_item{
  margin-top:0;
  display: inline-block; 
  padding-left:10px;
  font-size:20px; 
  font-family:Roboto;
  font-weight: 500;
  color: white;
}

.list_item:hover{
  color:#ED560B;
  
}

.buttons{
  padding-left: 750px;
}
.modal_button{
  border-radius: 50px;
  border-color: #ED560B;
  background-color: white;
}
.modal_button:hover{
  background-color: #ED560B;
}