.flex{
    height: 318px;
    display: flex;
    flex-direction: row;
}
.footer{
  padding-top:10px;
  padding-left: 5px;
}

.footer-item{
    display: inline-block; 
    padding:10px;
    font-size:15px; 
    font-family:Roboto;
    font-weight: 500;
    color: black;
  }
  .contact{
    position: relative;
      z-index: 3;
      background: #ED560B;
      color: black;
      font-size: 15px;
      border-color: #ED560B;
      border-style: solid;
      border-width: 2px;
      border-radius: 22px;
      padding: 5px 10px;
  }
  .logos{
    padding-top: 15px;
    padding-left: 40%;

  }
  .social-logo{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    
    gap: 10px;
  }
  .ltd{
    padding-top: 5%;
    padding-left: 34%;
}
  .setting_item{
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding-left: 40%;
    padding-top: 2px;
    font-size: 24px;
  }
  .setting_item:hover{
    color: #ED560B;
  }