.cataegory{
    background-color: #ebe6e6;
}

.cardsimg{
    display: flex;
    flex-direction: row;


}
.text{
    padding: 10px 0;
    text-align: center;
}
.restaurant{
    position: relative;
    display: inline-block;

}
.restaurant .afterhover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.restaurant:hover .afterhover {
    display: inline-block;
}